<template>
	<div class="container bg-light d-flex flex-col flex-center flex-align">
		<button @click="clickButton">Click Me ({{counter}})</button>
	</div>
</template>

<script>
	const Router = ActiveJS.Router;
	ActiveJS.newController('helloWorld', {
		el: "#app",
		Data() {
			return {
				counter: 0,
			}
		},
		_Mounted() {
		
		},
		methods: {
			clickButton() {
				this.counter++;
			},
		}
	});
</script>

<style>
	.container {
		width: 100%;
		height: 100%;
	}
	
	.content {
		padding: 5% 0;
	}
	
	.help {
		width: 55%;
	}
	
	button {
		margin-top: 2%;
	}
</style>
