<template>
  <div class="container bg-light d-flex flex-col flex-center flex-align">
    <button @on:click="reset" class="btn-p-lg bg-primary text-white shadow-sm">Reset</button>  
    <div class="">
      <button @on:click="updateBundle" class="btn-p-lg bg-primary text-white shadow-sm">Update</button>    
      <div class="loop d-flex flex-align" @for="bundle in bundles">
        <div class="">id: [bundle.id]</div>
        <div class="">data: [bundle.data]</div>
      </div>
    </div>

    <div class="">
      <button @on:click="updateBundle2" class="btn-p-lg bg-primary text-white shadow-sm">Update 2</button>
      <div class="loop d-flex flex-align" @for="bundle in bundles2">
        <div class="">id: [bundle.id]</div>
        <div class="">data: [bundle.data]</div>
      </div>
    </div>

    <!-- <div class="">{{test()}}</div> -->
    <button @on:click="goToLoggedIn">Logged In</button>
  </div>
</template>

<script>
  const Router = ActiveJS.Router;
  ActiveJS.newController('helloWorld', {
    el: "#app",
    Data() {
      return {
        counter: 0,
        bundles: [],
        bundles2: [],
      }
    },
    _Mounted() {

      this.bundles = [
          {id: 1, data: "Foo"},
          {id: 2, data: "Bar"},
          {id: 3, data: "Fring"},
          {id: 4, data: "Ding"}
        ];

    },
    methods: {
      goToLoggedIn() {
        Router.route('/loggedIn');
      },
      test() {
        return this.counter;
      },
      clickButton() {
        this.counter++;
      },
      reset() {
        this.bundles = [];
        this.bundles2 = [];
      },
      updateBundle() {
        
        this.bundles = [
          {id: 5, data: "Foo"},
          {id: 6, data: "Bar"},
          {id: 7, data: "Fring"},
          {id: 8, data: "Ding"}
        ];

      },
      updateBundle2() {
        
        this.bundles2.push({id: 8, data: "Ding"});
        this.bundles2 = this.bundles2;

      }
    }
  });
</script>

<style>
.container {
  width: 100%;
  height: 100%;
}
.content {
  padding: 5% 0;
}
.help {
  width: 55%;
}
button {
  margin-top: 2%;
}
</style>
