<template>
  <div class="container bg-light d-flex flex-col flex-center flex-align">
    <button @on:click="toggle" class="btn-p-sm bg-primary text-white shadow-sm">Reset</button>
    <h2>{{data.name}}</h2>
    <input id="tester" type="email" @reflect="data.name">

    <br>
    <br>

    <div id="updateItem-[i]" class="item bg-white shadow-xs" @for="info in bundles" :key="i">
      <div class="default d-flex flex-align">
        <div class="header d-flex flex-col">
          <div class="heading text-md-bold">[info.heading]</div>
          <div class="value text-sm">[info.value]</div>
        </div>
        <div class="buttons d-flex flex-align flex-center">
          <button @on:click="showEditForm([info.type], [i])" class="btn-p-lg bg-secondary text-white shadow-sm">Edit</button>
        </div>
        <input type="text" @reflect="data.name" @on:input="logVal">
      </div>
    </div>

    <br>
    <br>
    <table>
      <tr>
        <th>Heading</th>
        <th>Type</th>
        <th>Value</th>
      </tr>
      <tr @for="data in bundles">
        <td>[data.heading]</td>
        <td>[data.type]</td>
        <td>[data.value]</td>
        <td>{{data.name}}</td>
      </tr>
    </table>


    <!-- <div class="">{{test()}}</div> -->
<!--    <button @on:click="goToLoggedIn">Logged In</button>-->
  </div>
</template>

<script>
  const Router = ActiveJS.Router;
  ActiveJS.newController('helloWorld', {
    el: "#app",
    Data() {
      return {
        counter: 0,
        show: true,
        value: '',
        data: {
          name: 'Hello World',
        },
        bundles: [],
        bundles2: [],
      }
    },
    _Mounted() {

      setTimeout(() => {
        this.bundles = [
          {value: 1, heading: "Foo", type: 'NODE'},
          {value: 2, heading: "Bar", type: 'NODE'},
          {value: 3, heading: "Fring", type: 'NODE'},
          {value: 4, heading: "Ding", type: 'NODE'}
        ];
      }, 2000)

    },
    methods: {
      toggle(e) {
        this.data.name = '';
        this.bundles = [];

        setTimeout(() => {
          this.bundles = [
            {value: 1, heading: "Foo", type: 'NODE'},
            {value: 2, heading: "Bar", type: 'NODE'},
            {value: 3, heading: "Fring", type: 'NODE'},
            {value: 4, heading: "Ding", type: 'NODE'}
          ];
        }, 2000);
      },
      logVal(e) {
        let key = e.which || e.keyCode;
        // debugger;
        console.log(this.data.name);
      },
      goToLoggedIn() {
        Router.route('/loggedIn');
      },
      test() {
        return this.counter;
      },
      clickButton() {
        this.counter++;
      },
      reset() {
        this.bundles = [];
        this.bundles2 = [];
      },
      updateBundle() {
        
        this.bundles = [
          {id: 5, data: "Foo"},
          {id: 6, data: "Bar"},
          {id: 7, data: "Fring"},
          {id: 8, data: "Ding"}
        ];

      },
      updateBundle2() {
        
        this.bundles2.push({id: 8, data: "Ding"});
        this.bundles2 = this.bundles2;

      }
    }
  });
</script>

<style>
.container {
  width: 100%;
  height: 100%;
}
.content {
  padding: 5% 0;
}
.help {
  width: 55%;
}
button {
  margin-top: 2%;
}
</style>
