<template>
  <div class="testView">

    <button class="btn-p-xs bg-warning" @on:click="back()">Back</button>
    <button class="btn-p-xs bg-warning" @on:click="next()">View 4</button>
    <h1>{{name}}</h1>

  </div>
</template>

<script>
  import { newController, Router, State } from "./packages/ActiveJS.js";
  newController('testView3', {
    el: "#app",
    Data() {
      return {
        name: "VIEW 3",
      }
    },
    methods: {
      back() {
        Router.navBack();
      },
      next() {
        Router.route("/contact2");
      }
    }  
  });

</script>

<style>
  
</style>