<template>
  <div class="testView">

    <button class="btn-p-xs bg-warning" @on:click="back()">Back</button>
    <button class="btn-p-xs bg-warning" @on:click="next()">View 3</button>
    <h1>{{name}}</h1>

  </div>
</template>

<script>
  import { newView, Router, State } from "./packages/ActiveJS.js";
  newView('testView2', {
    el: "#app",
    props: ["name"],
    Data() {
      return {
        name: false,
      }
    },
    Init() {
      console.log(this.$props.name);
      
      this.name = this.$props.name;      
    },
    methods: {
      back() {
        Router.navBack();
      },
      next() {
        Router.route("/contact");
      }
    }  
  });

</script>

<style>
  
</style>