@keyframes pageIn {

  from {
      left: 100%;
  }

  to {
      left: 0;
  }

}

.animate-pageIn {
  animation-name: pageIn;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}

@keyframes pageOut {

  from {
      left: 0;
  }

  to {
      left: 100%;
  }

}

.animate-pageOut {
  animation-name: pageOut;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}

/*? Push In Animation ?*/

@keyframes pushIn {

  from {
      left: 100%;
  }

  to {
      left: 0;
  }

}

.animate-pushIn {
  animation-name: pushIn;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}

@keyframes pushOut {

  from {
      left: 0;
  }

  to {
      left: 100%;
  }

}

.animate-pushOut {
  animation-name: pushOut;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}

@keyframes pushInOld {

  from {
      left: 0;
  }

  to {
      left: -100%;
  }

}

.animate-pushInOld {
  animation-name: pushInOld;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}

@keyframes pushOutOld {

  from {
      left: -100%;
  }

  to {
      left: 0;
  }

}

.animate-pushOutOld {
  animation-name: pushOutOld;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}